.menu-view {
	background-color: #4772b352;
	color: #DCDCDC;
	font-size: 0.75rem;
	line-height: 0.75rem;
	padding: 0.125rem; // 2px
	position: relative;
	width: 100%;
	z-index: 1;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	> ul {
		display: flex;
		position: relative;

		> li {
			padding: 5px;
			&:focus-within,
			&:hover {
				> ul {
					display: block;
				}
			}

			> ul {
				background-color: #030a13e9;
				border: 0.0625rem solid #071222;
				border-radius: 15px;
				box-shadow: 0625rem 0625rem 0rem rgba(0, 0, 0, 0.25);
				display: none;
				min-width: 10rem;
				padding: 15px; // 2px	
				position: absolute;
				top: 100%;
				left: 0;

				button {
					width: 100%;
	
					&:hover {
						background-color: #4772b352;
						border: 0.0625rem solid #071222;
					}
				}
		
				li {
					padding: 5px;
					position: relative;
				}
			}
		}
	}

	button {
		background-color: #071222;
		border: 0.0625rem solid #071222;
		border-radius: 15px;
		color: #DCDCDC;
		padding: 0.125rem 0.5rem; // 3px 8px
		text-align: left;

		.icon {
			margin-right: 0.25rem;
		}

		&:hover {
			background-color: #030a13;
			border: 0.0625rem solid #071222;
		}
	}
}