.view-controls {
	position: absolute;
    top: 0.5rem;
    left: 0.5rem;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            margin-bottom: 0.125rem;

            button {
                background-color: #030a13;
                border: 0.0625rem solid #071222;
                border-radius: 15px;
                padding: 0rem;
                width: 2rem;
                height: 2rem;

                &.selected {
                    background-color: #071222;
                }

                .icon {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }
    }
}